{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/categories/category-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Categories</h1>
  <a href="{% url 'category-create' %}"  class="btn standard">Add a Category</a>
</section>
<br>

{% if not category_list %}
  <h3>Nothing here yet! Get to work!</h3>
{% endif %}

{% for category in category_list %}

  <section class="category-container">

    <div
      style="background-color: {{ category.color }};"
      class="category-label category-label-grow
        {% if category.color == 'aqua' or category.color == 'azure' or category.color == 'lime' or category.color == 'white' or category.color == 'yellow' or category.color == '' or not category.color %}
          category-label-bright-fix
        {% endif %}
        "
    >
      <p>{{ category.name }}</p>
    </div>

    <div class="category-adjacent">
      <a href="{% url 'category-update' category.id %}" class="btn standard">Edit</a>
      <a href="{% url 'category-delete' category.id %}" class="btn danger">Delete</a>
    </div>

  </section>

{% endfor %}

{% endblock %}