/* SIMILAR TO REP-INDEX */
.rep-container {
  margin-top: 20px;
  padding: 0 20px;
  width: 100%;
}

@media only screen and (min-width: 768px) {  
  .rep-container {
    margin-top: 20px;
    padding: 0 20px;
    width: auto;
    min-width: 300px;
    max-width: 70%;
    /* margin-left: auto; */
    /* margin-right: auto; */
  }
}

.category-label{
  margin-left: 10px;
  display: inline-block;
  padding: 0px 4px;
  color: #FFFFFF;
  border: var(--borders);
  border-radius: 4px;
}
.category-label p{
  font-size: var(--font-s)
}

/* END SIMILAR TO REP-INDEX */


.rep-img {
  width: 75%;
  max-width: 350px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.rep-details {
  width: 98%;
}

.rep-actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}