.card-container {
  padding: 0 20px;
  width: 70%;
}
@media only screen and (max-width: 768px) {  
  .card-container {
    padding: 0 20px;
    width: 100%;
  }
}

.card {
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  margin-bottom: 0px;
  position: relative;
  /* to account for tiny corner photo: */
  min-height: 52px;
}
.card-content {
  padding: 4px;
  width: 100%;
  /* to properly position tiny corner photo: */
  position: relative;
}
.title-and-label-container{
  display: flex;
  align-items: center;
}
.title-and-label-container a {
  text-decoration: underline;
  color: var(--custom-black-olive-bright);
}
.title-and-label-container a:visited {
  color: var(--custom-battleship-gray);
}
.title-and-label-container a:active {
  text-decoration: line-through;
  color: var(--custom-vanilla);
}

.rep-photo-tiny-corner{
  position: absolute; 
  top: 4px; 
  right: 4px;  
  z-index: 9999; /
}

.usr-img {
  border-radius: var(--card-border-radius);
}