
.card-container {
  padding: 0 20px;
  width: 100%;
}

@media only screen and (min-width: 768px) {  
  .card-container {
    padding: 0 20px;
    width: 70%;
  }
}

.card {
  /* margin: 8px; */
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  margin-bottom: 0px;
}

.card-content {
  padding: 4px;
  width: 100%;
}

.title-and-label-container{
  display: flex;
  align-items: center;
}



.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}
