/* SIMILAR TO REP-INDEX */

.rep-container {
  margin: 20px 40px 0px 40px;
  /* padding: 0px; */
  /* width: 100%; */
  /* border: 2px solid black; */
  width: auto;
  /* min-width: 300px; */
  max-width: 70%;
}

@media only screen and (max-width: 600px) {  
  .rep-container {
    max-width: 100%;
    /* width: 100%; */
    margin: 20px 4px 0px 4px;
    padding: 0 20px;
    /* background-color: red; */
  }
}

/* END SIMILAR TO REP-INDEX */


.rep-img {
  width: 75%;
  max-width: 350px;
}

.usr-img {
  border-radius: var(--card-border-radius);
}

.rep-details {
  width: 98%;
}

.rep-actions {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
}

.photo-add-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
}

.photo-add-form label {
  min-width: 200px;
  max-width: 80%;
}