.category-container {
  margin: 6px 0px;
  display: flex;
  align-items: center;
}

.category-label-grow {
  padding: 20px;
}
.category-label-grow > p {
  font-size: var(--font-l);
}

.category-adjacent {
  margin: 0px 0px 0px 10px;
}