  {% extends 'base.html' %}
  {% load static %}

  {% block content %}
  
  <h1>About Reps</h1>

  <img 
    src="{% static 'images/reps-logo-tp-big.png' %}"
    alt="Reps logo"
    width="360px"
  >

  <div class="about-container">
    <h3>"Practice makes practice makes practice makes prefect oops makes perfect."</h3>
    <h4>-me</h4>

    <p>The human mind has an incredible capacity for learning new and different skills. You don't need talent. All it takes is desire, discipline, and REPETITION. Reps is designed to help you keep track and keep yourself accountable. </p>

    <p>Every time you practice (or "do a rep"), add it! If you're working on multiple disciplines, add a custom category label. Customize each entry with as much (or as little) detail as you like. See all your reps listed in one place & build up momentum as you keep doing more reps! I believe in you!</p>
    <br>
    <h3>contact:</h3>
    <p>created by Rich Bozek
      <br>
      rbozek ( at ) gmail.com
      <br>
      GitHub repo: <a href="https://github.com/rbozek/reps" target="_blank">click here</a> (new window)
    </p>
  </div>
  


  {% endblock %}
