{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/favicon-muscle.png' %}"
  >
  <title>Reps</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>

<body>

  <header>

    <div class="header-logo-container">
      <a href="{% url 'home' %}">
        <h2>Home image here</h2>
        {% comment %} <img 
          src="{% static 'images/flexarm-med.png' %}"
          alt="Future Reps logo"
          height="100px"
        > {% endcomment %}
        {% comment %} <p>logo will go here!</p> {% endcomment %}
      </a>
    </div>

    <nav>
      <ul>
        <li><a href="{% url 'rep-index' %}">View My Reps</a></li>
        <li><a href="{% url 'rep-create' %}">Add a Rep</a></li>
        <li><a href="{% url 'category-create' %}">Add a Category</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>

  </header>


  <main>
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>