{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% comment %} Google fonts: {% endcomment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <link rel="icon" type="image/png" href="{% static 'images/favicon-arm.png' %}">
  {% comment %} safety favicon fallback for older browsers: {% endcomment %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

  <title>Reps</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>

<body>

  <header>

    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'about' %}">
              <img 
              src="{% static 'images/reps-logo-tp-sm.png' %}"
              alt="Reps logo"
              class="nav-logo"
            >
            </a>
          </li>
          <li><a href="{% url 'rep-index' %}">View Reps</a></li>
          <li><a href="{% url 'rep-create' %}">Add a Rep</a></li>
          <li><a href="{% url 'category-index' %}">Categories</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>

  </header>


  <main>
    {% block content %}
    {% endblock %}
  </main>
  
  {% comment %} <footer>
    <p>temp footer</p>
  </footer> {% endcomment %}

</body>
</html>