{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  {% comment %} <div class="brain-container"> {% endcomment %}
    <img 
      src="{% static 'images/brain-ai-1-crop.png' %}"
      alt="Reps logo"
      height="240px"
    >
  {% comment %} </div> {% endcomment %}
    <img 
      src="{% static 'images/reps-font-logo-edit.png' %}"
      alt="Reps logo"
      height="80px"
    >
    <div class="quote-container">
      <h3>“I only write when inspiration strikes. Fortunately it strikes at nine every morning.”</h3>
      {% comment %} <br> {% endcomment %}
      <h4>-William Faulkner</h4>
    </div>
</section>



{% if not user.is_authenticated %}
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}


{% endblock %}