html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width now incl border & padding by default - can override as needed */
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

body {
  margin: 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oswald', 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  min-height: 100vh;
  /* beige: */
  background-color: #E3E7D3;  
  /* vanilla: */
  /* background-color: #E6E49F; */

  --custom-beige: #E3E7D3; /* rgb(227,231,211) */
  --custom-silver: #BDC2BF; /* rgb(189,194,191) */
  --custom-battleship-gray: #989C94; /* rgb(152,156,148) */
  --custom-black-olive: #25291C; /* rgb(37,41,28) */
  --custom-black-olive-bright: #5e6749; /* rgb(37,41,28) */
  --custom-vanilla: #E6E49F; /* rgb(230,228,159) */

  --nav-bg: rgba(189,194,191, .9);  /* silver */
  --nav-bg-ff: rgba(189,194,191, .7);  /* silver */
  --borders: #25291C solid 2px;  /* black-olive */

  --text-color:  #25291C;  /* black-olive */

  --link-hover-color: #E6E49F;

  --button-bg: rgb(245, 245, 245);
  --button-bg-hover: rgb(226, 226, 226);
  --submit: rgb(26, 128, 0);
  --warn: rgb(255, 102, 0);
  --danger: rgb(220, 20, 30);
  --secondary: rgb(57, 57, 57);

  --font-supersize: 4rem;
  --font-xxl: 2.4rem;
  --font-xl: 2rem;
  --font-l: 1.4rem;
  --font-reg: 1rem;
  --font-s: .8rem;
  --font-xs: .6rem;
  
  --card-box-shadow: 5px 5px 6px -1px #AAA;
  --card-border-radius: 6px;
}

a, a:visited {
  text-decoration: underline;
  color: var(--custom-black-olive-bright);
}
a:active {
  text-decoration: line-through;
  color: var(--custom-vanilla);
}

header {
  width: 100%;
  background: var(--nav-bg-ff); /* rgba(104, 197, 248, .9) */
  border-bottom: var(--borders);
}

nav {
  margin: 4px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  padding: 0px 8px;
}
.nav-logo {
  height: 42px;
}
nav a, nav a:visited {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.4rem;
}
nav a:hover {
  color: var(--link-hover-color)
}
nav a:active {
  color: var(--custom-black-olive-bright);
  text-decoration: underline;
}
@media only screen and (max-width: 480px) {  
  nav li {
    padding: 0px 4px;
  }
  .nav-logo {
    height: 20px;
  }
  nav a, nav a:visited {
    font-size: 1rem;
  }
}


main {
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: var(--font-xxl);
}
h2 {
  font-size: var(--font-l);
}
h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}
p{
  font-size: var(--font-reg);
  margin: 0px;
  padding: 0px;
}
small{
  font-size: var(--font-s);
}

.page-header {
  display: flex;
  align-items: center;
  flex-direction: column;  /* remove if I want to stack next to h2 */
}

button, .btn {
  padding: 4px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin-right: 10px;
}
.btn:hover {
  background-color: var(--button-bg-hover);
}
.submit {
  color: var(--custom-black-olive-bright);
  border-color: var(--custom-black-olive);
}
.standard {
  color: var(--custom-black-olive-bright);
  border-color: var(--custom-black-olive);
}
.warn {
  color: var(--custom-black-olive-bright);
  border-color: var(--custom-black-olive);
}
.danger {
  color: var(--custom-black-olive);
  border-color: var(--custom-black-olive);
}
.danger:hover {
  color: var(--custom-silver);
  background-color: var(--danger);
}
.page-header h1 {
  font-size: var(--font-xxl);
  margin: 0;
}
.page-header img {
  height: 40px;
  margin-left:15px;
}
.page-header img:first-of-type {
  margin-left: 20px;
}


/* re-used on several pages: */
.category-label{
  margin-right: 10px;
  display: inline-block;
  padding: 0px 4px;
  color: #FFFFFF;
  border: var(--borders);
  border-radius: 4px;
}
.category-label-bright-fix{
  color: var(--text-color);
}
.category-label p{
  font-size: var(--font-s)
}

/* about page only */
.about-container {
  display: flex; /* Use flexbox */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 50px 0 50px;
}
.about-container p {
  margin-top: 8px;
}
@media only screen and (max-width: 480px) {  
  .about-container {
    margin: 0 10px 0 10px;
  }
}


/* signup page only: */
.red-text {
  color: red;
}

/* delete-rep & delete-category */
.delete-header-container {
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}