main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

main > section {
  width: 100%;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-logo-container {
  display: none;
}

.logo-container {
  max-width: 80%;
}

/* .brain-container {
  width: 80%;
} */

.quote-container {
  /* display: flex; */
  text-align: center;
}
.quote-container > h3, h4 {
  /* display: flex; */
  margin: 4px 0px;
  padding: 0px;
}

.login {
  border: var(--borders);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  padding: 10px;

  width: 80%;
  max-width: 260px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login > h1 {
  margin: 4px 0px;
  padding: 0px;
}

.login > p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 14px 0 0px;
}

.login label {
  font-size: var(--font-reg);
  margin-bottom: 6px;
}

.login input {
  font-size: var(--font-l);
  padding: 2px 4px;
}

.login .btn {
  /* margin-auto: 0; */
  margin-top: 16px;
}

