{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/reps/rep-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="rep-container">
  <div class="rep-img">
    {% comment %} <h2>Detail image here</h2> {% endcomment %}
    {% comment %} <img 
      src="{% static 'images/flexarm-sm.png' %}" 
      alt="the same arm"
      height="50px"
    > {% endcomment %}
  </div>
  <div class="rep-details">

    <h2 class="card-title">{{ rep.name }}</h2>

    <p><small>spent {{ rep.time_spent }} minutes on {{ rep.rep_date_time }}</small></p>

    {% for category in rep.categories.all %}
    
    <div style="background-color: {{ category.color }}">
    <h3>{{ category.name }} {{ category.color }}</h3>
    </div>

    <br>
    {% endfor %}

    <p>{{ rep.description }} </p>

    <p><small>rep added: {{ rep.created }}</small></p>
    <p><small>rep edited: {{ rep.edited }}</small></p>

    <div class="rep-actions">
      <a href="{% url 'rep-update' rep.id %}" class="btn warn">Edit</a>
      <a href="{% url 'rep-delete' rep.id %}" class="btn danger">Delete</a>
    </div>

  </div>
</section>

{% endblock %}