{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/reps/rep-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="rep-container">
  {% comment %} <div class="rep-img"> {% endcomment %}
  {% comment %} </div> {% endcomment %}
  <div class="rep-details">

    <h2 class="card-title">{{ rep.name }}</h2>

    {% if rep.categories %}
      {% for category in rep.categories.all %}
        <div
          class="category-label"
          style="background-color: {{ category.color }};"
        >
          <p>{{ category.name }}</p>
        </div>
      {% endfor %}
    {% endif %}

    <p><small>
      {% if rep.time_spent %}
        spent {{ rep.time_spent }} minutes
      {% endif %}
      {% if rep.rep_date_time %}
        on {{ rep.rep_date_time }}
      {% endif %}
    </small></p>

    {% if rep.description %}
      <p>{{ rep.description }} </p>
    {% endif %}

    <p><small>added: {{ rep.created }}</small></p>
    {% if rep.edited %}
    <p><small>edited: {{ rep.edited }}</small></p>
    {% endif %}

    <div class="rep-actions">
      <a href="{% url 'rep-update' rep.id %}" class="btn standard">Edit</a>
      <a href="{% url 'rep-delete' rep.id %}" class="btn danger">Delete</a>
    </div>

  </div>
</section>

{% endblock %}