{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/reps/rep-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>My Reps</h1>
</section>

{% if not reps %}
  <br>
  <h3>Nothing here yet! Get to work!</h3>
{% endif %}


<section class="card-container">
  {% for rep in reps %}

    <div class="card">
      <div class="card-content">
        
        {% if rep.photo.url %}
          <div class="rep-photo-tiny-corner">
            <img 
              src="{{rep.photo.url}}" 
              alt="A photo of {{rep.name}}"
              class="usr-img"
              style="max-height: 40px; width:auto;"
            >
          </div>
        {% endif %}

        <div class="title-and-label-container">
          <a href="{% url 'rep-detail' rep.id %}">
            <h3>{{ rep.name }}</h3>
          </a>
          &nbsp;&nbsp;&nbsp;
          {% for category in rep.categories.all %}
            <div
              style="background-color: {{ category.color }};"
              class="category-label
                {% if category.color == 'white' or category.color == '' or not category.color %}
                  category-label-bright-fix
                {% endif %}
                "
              >
              <p>{{ category.name }}</p>
            </div>
          {% endfor %}
        </div>

        <p><small>
          {% if rep.time_spent %}
            spent {{ rep.time_spent }} minutes
          {% endif %}
          {% if rep.rep_date_time %}
            on {{ rep.rep_date_time }}
          {% endif %}
        </small></p>

        {% if rep.description %}
          {% if rep.description|length > 50 %}
            <p>{{ rep.description|slice:":50" }}...</p>
          {% else %}
            {{rep.description}}
          {% endif %}
        {% endif %}

      </div>
    </div>
    <br>
  {% endfor %}
</section>

{% endblock %}